# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# PyTorch models
*.pth
*.pt

# Training outputs
runs/
outputs/
checkpoints/

# Dataset
data/

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/